@charset "UTF-8";
/* --------------------------------------------------
   Template by espace（https://espace.monbalcon.net/）
   Copyright: 2020 espace.

   利用規約を遵守の上、ご利用ください。
   二次配布、販売は禁止しています。
   --------------------------------------------------*/

/* ----- ▼ リセット　ここから（基本的には触らない方が良い部分） ▼ ----- */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:focus {
  outline: none;
}

a {
  color: hotpink;
  text-decoration: none;
}

a,
a::after,
a::before,
button,
button::after,
button::before,
input,
textarea,
select {
  transition: all 0.7s;
}

a img,
button img {
  transition-duration: 0.35s;
}

button {
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  cursor: hand;
}

input,
textarea,
select {
  font-size: 1.6rem;
}

input,
textarea {
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
}

select {
  appearance: button;
}

p,
dl,
ul,
form {
  margin: 25px 0;
  word-break: break-all;
}

p:last-child,
dl:last-child,
ul:last-child,
form:last-child {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  p,
  form {
    margin: 0 0 1.7rem;
  }
  p:last-child,
  form:last-child {
    margin-bottom: 0;
  }
}
/* ----- ▲ リセット　ここまで（基本的には触らない方が良い部分） ▲ ----- */

/* ----- ▼ レイアウト　ここから ▼ ----- */
/* 基本 */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 900px) {
  #__next::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    top: 0;
    left: calc((100% - 602px) / 2);
    border: 1px solid #8ebde6;
    border-top: 0;
    border-bottom: 0;
    z-index: -1;
  }
}

body,
button,
input,
textarea,
select {
  font: 500 1.6rem / calc(1.6rem + 1.05rem) "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  color: whitesmoke;
}

header,
main,
footer {
  max-width: 600px;
  margin: auto;
  padding: 0 40px;
}

header {
  position: sticky;
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #8ebde6;
  text-align: center;
  background-image: url("../public/bg.jpg");
  background-size: cover;
  z-index: 100;
}

main *:first-child h2:first-child,
footer *:first-child h2:first-child {
  margin-top: 0;
}

main {
  padding-top: 100px;
  padding-bottom: 150px;
}

a:hover {
  color: #b866b1;
}

/* 見出し */
h1 {
  margin: 0;
  font: 300 6rem/1 "Rajdhani", sans-serif;
  color: #4a8ac7;
}

h1 a {
  color: #4a8ac7;
}

h1 a:hover {
  color: #b866b1;
}

h2,
h3,
h4 {
  font-weight: 600;
  font-size: 1.6rem;
  color: #8ebde6;
  text-align: center;
}

h2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto 20px;
  letter-spacing: 2px;
  border: 1px solid #8ebde6;
  min-height: 40px;
}

h3::after,
h4::after {
  display: block;
  margin: auto;
}

h3 {
  margin: 100px auto 50px;
  line-height: 260%;
}

h3::after {
  content: "";
  width: 200px;
  height: 1px;
  background: #8ebde6;
}

h4 {
  margin: 100px auto 50px;
  line-height: 140%;
}

h4::after {
  content: "\f0d7\f0d7\f0d7";
  margin-left: 3px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  letter-spacing: 3px;
}

h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #4a8ac7;
  text-align: center;
  margin: 40px 0 20px;
}

/* リスト */
ul .description,
ol .description {
  margin-left: 10px;
}

ul .description::before,
ol .description::before {
  content: "…";
  margin-right: 10px;
}

ul li.next {
  list-style: none;
}

ul li.next::before {
  content: "→";
  margin-right: 5px;
  font-size: 120%;
}

ul.small {
  list-style: none;
  padding-left: 0;
}

ul.small li {
  display: inline;
}

ul.small li::before {
  color: #ac9c8c;
}

ul.small li:not(:first-child):not(.next)::before {
  margin: 0 5px 0 2px;
  content: ":";
  font-weight: 900;
}

ul.small li.next::before {
  margin: 0 7px 0 2px;
}

dl {
  margin: 10px 0;
}

dl dd {
  margin: 0 0 15px;
  padding: 0 0 15px 40px;
  border-bottom: 1px dotted #dcc6ab;
}

dl dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

dl.inline {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

dl.inline dt,
dl.inline dd {
  vertical-align: top;
  margin: 0 0 15px 0;
  padding: 0 0 4px;
}

dl.inline dt:last-of-type,
dl.inline dd:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

dl.inline dt {
  width: 200px;
  padding: 0 30px 10px 0;
  padding-right: 30px;
  border-bottom: 1px dotted #dcc6ab;
}

dl.inline dt:last-of-type {
  border-bottom: 0;
}

dl.inline dd {
  width: calc(100% - 200px);
}

dl.border {
  padding: 15px 20px;
  border: 1px dotted #dcc6ab;
  border-radius: 4px;
}

/* 装飾 */
b,
em,
strong {
  font-weight: bold;
}

em {
  font-style: normal;
  background: linear-gradient(transparent 50%, #dcc6ab 50%);
}

strong {
  text-decoration: underline #dcc6ab;
}

hr {
  border: 0;
}

hr::before {
  content: "■■■";
  display: block;
  margin: 75px 0;
  padding-left: 5px;
  text-align: center;
  letter-spacing: 5px;
  font-size: 1.2rem;
  color: #8ebde6;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: smaller;
}

/* スマホ設定 */
@media only screen and (max-width: 900px) {
  body,
  button {
    font-size: 1.4rem;
    line-height: calc(1.4rem + 1.05rem);
  }
  body::before {
    content: none;
  }
  header {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  /* リスト */
  ul .description,
  ol .description {
    display: block;
    margin-left: 10px;
  }
  ul .description::before,
  ol .description::before {
    content: "└";
    margin-right: 10px;
  }
  dl.border dt,
  dl.border dd,
  dl.inline dt,
  dl.inline dd {
    display: block;
  }
  dl.border dt,
  dl.inline dt {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  dl.border dd,
  dl.inline dd {
    width: calc(100% - 40px);
    padding-left: 40px;
  }
}
/* ----- ▲ レイアウト　ここまで ▲ ----- */


/* ----- ▼ ここからオリジナル ▼ ----- */
div > h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -100px auto 100px;
  padding-top: 100px;
  padding-left: 5px;
  letter-spacing: 5px;
  font-size: 1.6rem;
}

div > h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 300px;
  height: 40px;
  margin-left: -5px;
  border: 1px solid #629fd5;
  z-index: -1;
}

blockquote {
  border-left: 4px solid #629fd5;
  margin-left: 0;
}

blockquote > p {
  margin-left: 10px;
}

pre {
  background-color: #c7e1fb;
}

pre > code {
  margin: 20px;
  display: block;
  white-space: pre;
  overflow: auto;
}

pre > code::-webkit-scrollbar {
  background: #629fd5;
  height: 5px;
}

table {
  width: 100%;
  border-collapse: collapse
}
th {
  border: 1px solid #FFF;
  background-color: #d6e5f2;
}

td {
  border: 1px solid #FFF;
  background-color: #c7e1fb;
  padding: 4px;
  text-align: center;
}

figure {
  text-align: center;
  margin: 4px;
}

/* background */
#bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../public/bg.jpg");
  background-size: cover;
}